$primaryColor: #2E334B;

html {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #1F233B;
  color: #ffffff;
}

.container {
  @media(min-width: 380px) {
      max-width: 380px;
  }
}

.main {
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;

  &__heading {
    h1{
      margin-bottom: 0;
    }
  }
}

.mainWidget {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  align-items: center;
  background-color: $primaryColor;
  border-radius: 30px;
  padding: 1rem;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
  min-height: 120px;

  &_loading {
    opacity: 0;
  }

  &__icon {
    grid-row: 1/3;
    text-align: center;
  }

  &__weather {
    grid-column: 2/4;
    margin: 0;
    padding-top: 0.7rem;
  }

  &__location {
    opacity: 0.5;
    grid-column: 2/4;
    padding-bottom: 0.7rem;
  }

  &__temperature {
    margin: 0;
    text-align: center;
    height: fit-content;
    font-size: 3rem;
    grid-column: 4/5;
    grid-row: 1/3;
  }

  &__details {
    text-align: center;
    p{
      margin-bottom: 0;
    }

    small{
      opacity: 0.5;
    }
  }
}

.mainDevices {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.5rem;

  &__heading{
    width: 100%;
    margin: 0;
  }
}

.device {
  max-width: 38%;
  background-color: $primaryColor;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &__heading {
    width: 100%;
    margin-top: 0rem;
  }

  &__icon {
    width: 40px;
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
    margin-left: 1rem;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    span {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #20233A;
      transition: .4s;
      border-radius: 34px;
    }

    span:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 4px;
      bottom: 4px;
      background: linear-gradient(#0DB5F5, #3C6DE4);
      transition: .4s;
      border-radius: 50%;
    }
    
    input:checked + span:before {
      transform: translateX(28px);
      background: linear-gradient(#F3BC91, #F86C79);
    }
  }

  small {
    display: block;
    width: 40px;
    text-align: center;
    opacity: 0.5;
  }
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: -20px 0px,20px 0px;
  animation: l18 1s infinite;
  position: absolute;
  left: 50%;
  top: 170px;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 1;

  &_loaded {
    opacity: 0;
  }
}

@keyframes l18{ 
  25%  {box-shadow: -20px -20px, 20px 20px}
  50%  {box-shadow:   0px -20px,  0px 20px}
  75%  {box-shadow:  20px -20px,-20px 20px}
  100% {box-shadow:  20px   0px,-20px  0px}
}