/*@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;500;600&display=swap");
*/
html{
    font-size: 4vw;
    font-family: "Gemunu Libre", sans-serif;
  }
  body {
    color: #fff;
    background-color: #222;
  }
  
  /* Main body */
  
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main .main__heading {
    font-weight: 600;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    cursor: default;
  }
  .main .main__heading::before {
    content: "";
    display: block;
    margin: 0 0 2% 10%;
    width: 30%;
    height: 4px;
    background-color: #fdd870;
    border-radius: 5px;
    transition: 1s;
  }
  
  /* Rooms styles */
  
  .main .room {
    background-color: #303030;
    display: none;
    flex-flow: column;
    position: relative;
    width: 90%;
    height: 70vw;
    box-shadow: 0 0 10px black;
    border-radius: 2px;
    margin: 3% 0 3% 0;
    font-size: 1.2rem;
    opacity: 0.4;
  }
  .main .room .room__heading {
    display: flex;
    align-items: center;
    background-color: #fdd870;
    border-radius: 2px;
    margin: 0;
    padding-left: 10%;
    font-size: 1.5rem;
    font-weight: 500;
    height: 15%;
  }
  
  /* Sensors section */
  
  .main .room .sensors {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 2% 2% 0 2%;
    height: 40%;
  }
  .main .room .sensors .temperature,
  .humidity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 50%;
  }
  .main .room .sensors .sensors__heading {
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin: 0;
  }
  .main .room .sensors .sensors__text{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
  }
  .main .room .sensors .sensors__progress-bar {
    width: 80%;
    display: flex;
    align-items: center;
    height: 10%;
    background-color: #222;
    border-radius: 30px;
    border: 1vw solid #222;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .main .room .sensors .sensors__progress-bar-fill {
    display: block;
    height: 100%;
    background-color: #f9a84c;
    border-radius: 20px;
    transition: width 500ms ease-in-out;
  }
  .main .room .sensors .humidity__progress-bar-fill {
    background-color: #009dff;
  }
  
  /* Relays section */
  
  .main .room .relays {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 2% 2% 0 2%; */
    height: 40%;
  }
  .main .room .relays .relays__heading {
    text-align: center;
    margin: 0% 0 5% 0;
    font-weight: 300;
  }
  
  .main .relays .relays__button {
    width: 20%;
    height: 30%;
    margin: 0% 0% 5% 0%;
    background: #222;
    border: 2px solid black;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .main .relays .relays__button::after {
    content: "";
    display: inline-block;
    left: 3px;
    width: 55%;
    height: 100%;
    background-color: #ff4d00;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.2, 0.85, 0.32, 1.2);
    transform: translateX(0);
  }
  .main .relays .relays__button:checked::after {
    transform: translateX(calc(80%));
    background-color: #ffcf66;
  }
  
  main .room .room__status{
    align-self: flex-end;
    position: absolute;
    bottom: 5px;
    margin: 0 5% 0 0;
  }
  
  /*Upstairs style*/
  /* main .room2 .room1__heading{
    background-color: #ff4d00;
  } */
  
  /* Outside section style */
  /* main .room3 .room2__heading{
    background-color: #8cd3ff;
  } */
  
  
  
  /* Media queries */
  
  @media screen and (min-width: 1000px) {
    html {
        font-size: 2vw;
    }
    .main .room {
        width: 45%;
        height: 40vw;
    }
  }